@charset "UTF-8";
.cooltip-tooltip {
  position: absolute;
  background: var(--color-bg, rgba(0, 0, 0, 0.9));
  color: var(--color-text-primary, white);
  padding: 5px 8px;
  border-radius: var(--corner-radius, 4px);
  font-size: 14px;
  line-height: 16px;
  pointer-events: none;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-wrap: wrap;
  max-width: 320px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 125ms ease-in-out, visibility 125ms ease-in-out;
}

.cooltip-tooltip__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
}

.cooltip-tooltip[data-actual-position=top] .cooltip-tooltip__arrow {
  border-top-color: var(--color-bg, rgba(0, 0, 0, 0.9));
  border-bottom-width: 0;
}

.cooltip-tooltip[data-actual-position=bottom] .cooltip-tooltip__arrow {
  border-bottom-color: var(--color-bg, rgba(0, 0, 0, 0.9));
  border-top-width: 0;
}

.cooltip-tooltip[data-actual-position=left] .cooltip-tooltip__arrow {
  border-left-color: var(--color-bg, rgba(0, 0, 0, 0.9));
  border-right-width: 0;
}

.cooltip-tooltip[data-actual-position=right] .cooltip-tooltip__arrow {
  border-right-color: var(--color-bg, rgba(0, 0, 0, 0.9));
  border-left-width: 0;
}

.search {
  display: flex;
  position: relative;
  cursor: text;
  outline: none;
  font-size: 16px;
  height: 34px;
  padding: 5px 8px;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  color: var(--color-text-secondary);
  background-color: var(--color-gray-100);
  border-radius: var(--corner-radius);
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.search__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 100%;
  cursor: text;
  mask-size: 14px;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-image: url("../assets/img/Search.svg");
  background-color: var(--color-gray-800);
}
.search__icon.has-text {
  cursor: pointer;
  mask-image: url("../assets/img/Cross.svg");
}
.search__icon.has-text:hover {
  background-color: var(--color-gray-900);
}
.search:hover {
  border-color: var(--color-gray-400);
  background-color: var(--color-gray-200);
}
.search:focus-within {
  border-color: var(--color-gray-400);
  background-color: var(--color-bg);
}
.search__input {
  border: none;
  background: transparent;
  outline: none;
  width: calc(100% - 22px);
  font-size: inherit;
  color: inherit;
  padding: 0;
  line-height: 22px;
}
.search__input::placeholder {
  color: var(--color-text-tertiary);
  transition: color 0.25s ease-in-out;
}
.search__input:hover::placeholder, .search__input:focus::placeholder {
  color: var(--color-text-tertiary);
}

.toggle-btn {
  cursor: pointer;
  display: flex;
  height: 34px;
  width: 34px;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  background-color: var(--color-gray-100);
  border-radius: var(--corner-radius);
  transition: background-color 0.25s ease-out, border-color 0.25s ease-out, transform 0.25s ease-out;
}
.toggle-btn:hover {
  border-color: var(--color-gray-400);
  background-color: var(--color-gray-200);
}
.toggle-btn:hover::after {
  background-color: var(--color-gray-900);
}
.toggle-btn:active {
  transform: scale(0.9);
}
.toggle-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  mask-size: 18px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: var(--color-gray-800);
  transition: background-color 0.25s ease-in-out;
}

.toggle-btn.active {
  border-color: var(--color-gray-400);
  background-color: var(--color-gray-200);
}
.toggle-btn.active::after {
  background-color: var(--color-accent);
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.border-loader {
  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle), var(--color-gray-400), var(--color-gray-400));
  --gradient-border-accent: var(--color-accent);
  --gradient-border: conic-gradient(from var(--border-angle), var(--color-gray-400) 37%, var(--gradient-border-accent) 44%, var(--color-gray-400) 55%);
  border: 1px solid var(--color-gray-400);
  background: conic-gradient(from var(--border-angle), var(--color-bg), var(--color-bg)) padding-box, var(--gradient-border) border-box;
  animation: bg-spin 4s linear infinite;
  box-sizing: border-box;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  transition: border-color 1s;
}

:root.dark .border-loader {
  --gradient-border-accent: #999999;
}

.border-loader--loading {
  border-color: transparent !important;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
}

.modal-bg-open {
  opacity: 1;
}

.modal-content {
  position: relative;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: auto;
}

.modal-content-open {
  opacity: 1;
  transform: scale(1);
}

.modal-bg-close {
  opacity: 0;
}

.modal-content-close {
  opacity: 0;
  transform: scale(0.8);
}

.alitos-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--corner-radius);
  border: 1px solid var(--color-gray-400);
  background-color: var(--color-bg);
  width: 100%;
  max-width: 860px;
  height: 100%;
  max-height: 620px;
  padding: 10px;
}
.alitos-modal:focus {
  outline: none;
}
.alitos-modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 22px;
}
.alitos-modal__header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.alitos-modal__header-title {
  font-size: 18px;
  color: var(--color-text-secondary);
}
.alitos-modal__header-close {
  height: 22px;
  width: 22px;
  cursor: pointer;
  border-radius: var(--corner-radius);
  background: transparent;
  transition: background-color 0.2s ease-out;
}
.alitos-modal__header-close:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  mask-image: url("../assets/img/Cross.svg");
  mask-size: 16px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: var(--color-text-tertiary);
  transition: background-color 0.2s ease-out;
}
.alitos-modal__header-close:hover {
  background-color: var(--color-gray-200);
}
.alitos-modal__header-close:hover:after {
  content: "";
  background-color: var(--color-text-secondary);
}

.period-picker {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.period-picker .sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  order: -1;
  padding: 10px;
  box-sizing: border-box;
  width: 120px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-gray-500);
  border-radius: var(--corner-radius);
}
.period-picker .sidebar__button {
  cursor: pointer;
  color: var(--color-text-secondary);
  width: 100%;
  height: 26px;
  padding-left: 8px;
  box-sizing: border-box;
  text-align: left;
  border: none;
  background-color: transparent;
  border-radius: var(--corner-radius);
}
.period-picker .sidebar__button:hover {
  background-color: var(--color-gray-200);
  color: var(--color-text-primary);
}

.datepicker {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-500);
  background-color: var(--color-bg);
  padding: 10px;
}
.datepicker__months-wrapper, .datepicker__year-display {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 30px;
  height: 26px;
  padding: 0 8px;
  border-radius: var(--corner-radius);
  color: var(--color-text-secondary);
  font-size: 14px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.datepicker__months-wrapper:hover, .datepicker__year-display:hover {
  color: var(--color-text-primary);
  background-color: var(--color-gray-200);
}

.month-nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.datepicker__nav-btn {
  cursor: pointer;
  width: 26px;
  height: 26px;
  background: none;
  border: none;
  border-radius: var(--corner-radius);
  transition: background-color 0.2s ease-out;
}
.datepicker__nav-btn:active {
  transform: scale(0.9);
}
.datepicker__nav-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  mask-size: 8px;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-image: url("../assets/img/Arrow.svg");
  background-color: var(--color-gray-800);
  transition: background-color 0.2s ease-out;
}
.datepicker__nav-btn--next::after {
  transform: scale(-1, -1);
}
.datepicker__nav-btn:hover {
  background-color: var(--color-gray-200);
}
.datepicker__nav-btn:hover::after {
  background-color: var(--color-gray-900);
}
.datepicker__nav-btn.disabled {
  visibility: hidden;
}

.datepicker-header,
.datepicker__month-selection-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.datepicker__calendars {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.datepicker__calendar {
  display: grid;
  grid-template-columns: repeat(7, 32px);
  grid-template-rows: 22px repeat(6, 32px);
}

.datepicker__calendar-header {
  display: flex;
}

.datepicker__cell {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--color-text-primary);
}
.datepicker__cell--weekday {
  height: 22px;
  color: var(--color-text-secondary);
}
.datepicker__cell.datepicker__day--prev, .datepicker__cell.datepicker__day--next {
  color: var(--color-text-quaternary);
}

.datepicker__day {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.datepicker__day.range-start, .datepicker__day.in-range, .datepicker__day.range-end, .datepicker__day.range-end-selecting, .datepicker__day.range-start-selecting {
  color: var(--color-text-primary);
}
.datepicker__day.range-start::before, .datepicker__day.in-range::before, .datepicker__day.range-end::before, .datepicker__day.range-end-selecting::before, .datepicker__day.range-start-selecting::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 26px;
  background-color: var(--color-gray-100);
}
.datepicker__day.range-start::after, .datepicker__day.range-end::after, .datepicker__day.selected::after, .datepicker__day.range-middle::after {
  background: var(--color-gray-300) !important;
  box-shadow: 0 0 5px 0 var(--color-bg);
}
.datepicker__day.today {
  color: var(--color-text-green);
}
.datepicker__day.range-end-selecting::before, .datepicker__day.range-end::before {
  margin-right: 4px;
  border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
}
.datepicker__day.range-start-selecting::before, .datepicker__day.range-start::before {
  margin-left: 4px;
  border-radius: var(--corner-radius) 0 0 var(--corner-radius);
}
.datepicker__day::after {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: var(--corner-radius);
  z-index: -1;
  background: transparent;
}
.datepicker__day:hover::after {
  background: var(--color-gray-200);
}
.datepicker__day.disabled {
  cursor: not-allowed;
  color: var(--color-text-quaternary);
}
.datepicker__day.disabled::after {
  display: none;
}

.datepicker__month-selection {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  background-color: var(--color-bg);
}

.datepicker__month-list {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(2, 105px);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
}

.datepicker__month-item {
  cursor: pointer;
  font-size: 14px;
  color: var(--color-text-secondary);
  list-style-type: none;
  padding: 5px 8px;
  box-sizing: border-box;
  border-radius: var(--corner-radius);
}
.datepicker__month-item:hover {
  color: var(--color-text-primary);
  background-color: var(--color-gray-200);
}
.datepicker__month-item.disabled {
  color: var(--color-text-quaternary);
  cursor: default;
}
.datepicker__month-item.disabled:hover {
  background-color: transparent;
}

.datepicker__month-selection-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.datepicker__month-selection-header .datepicker__year-display {
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
}
.datepicker__month-selection-header .datepicker__year-display:hover {
  color: var(--color-text-secondary);
  background-color: transparent;
}

.period-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  padding: 0 8px;
  height: 34px;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  background-color: var(--color-gray-100);
  border-radius: var(--corner-radius);
  transition: background-color 0.25s ease-out, border-color 0.25s ease-out, transform 0.25s ease-out;
}
.period-btn--deletable {
  padding: 0 4px 0 8px;
}
.period-btn:hover {
  border-color: var(--color-gray-400);
  background-color: var(--color-gray-200);
}
.period-btn:hover__date {
  color: var(--color-text-primary);
}
.period-btn__date, .period-btn__label {
  font-size: 15px;
  color: var(--color-text-secondary);
  user-select: none;
  transition: color 0.25s ease-out;
}
.period-btn__delete-btn {
  cursor: pointer;
  height: 26px;
  width: 26px;
  border-radius: var(--corner-radius);
}
.period-btn__delete-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  mask-size: 16px;
  mask-image: url("../assets/img/Minus.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: var(--color-gray-800);
}
.period-btn__delete-btn:hover {
  background-color: var(--color-gray-100);
}

.al-icon-tag:before {
  mask-image: url("../assets/img/tag.svg");
}

.loader {
  position: fixed;
  z-index: 10;
  bottom: 15px;
  right: 15px;
  min-width: 300px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 8px;
  font-size: 14px;
  color: var(--color-text-secondary);
  background-color: var(--color-gray-100);
  border-radius: var(--corner-radius);
  border: 1px solid var(--color-gray-400);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.loader.active {
  opacity: 1;
  transform: translateY(0);
}

.spinner {
  border: 2px solid transparent;
  border-top: 2px solid var(--color-gray-900);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dropdown-container {
  position: relative;
  user-select: none;
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  background-color: var(--color-gray-100);
  border: 1px solid transparent;
  border-radius: var(--corner-radius);
  cursor: pointer;
  transition: border-color 0.25s ease-out, border-radius 0.25s ease-out;
  color: var(--color-text-secondary);
  min-height: 18px;
}
.dropdown-trigger .dropdown-trigger-text {
  font-size: 14px;
}
.dropdown-trigger:hover {
  border-color: var(--color-gray-400);
  background-color: var(--color-gray-200);
}
.dropdown-trigger:hover::after {
  background-color: var(--color-gray-900);
}
.dropdown-trigger::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background-color: var(--color-gray-800);
  mask-image: url("../assets/img/ArrowDown.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: transform 0.25s ease-out, background-color 0.25s ease-out;
  flex-shrink: 0;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-400);
  border-radius: var(--corner-radius) var(--corner-radius) 0 0;
  border-bottom: none;
  box-sizing: border-box;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  z-index: 99;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transform-origin: top center;
  transition: opacity 0.25s ease-out, visibility 0.25s ease-out, transform 0.25s ease-out;
}
.dropdown-menu ul {
  list-style: none;
  max-height: 250px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 6px 8px;
  cursor: pointer;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  color: var(--color-text-secondary);
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}
.dropdown-item:hover {
  background-color: var(--color-gray-200);
}

.dropdown-container.is-open .dropdown-trigger {
  border-color: var(--color-gray-400);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown-container.is-open .dropdown-trigger::after {
  transform: rotate(180deg);
}
.dropdown-container.is-open .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-container.position-top .dropdown-menu {
  bottom: 100%;
  top: auto;
  transform: translateY(10px);
  transform-origin: bottom center;
  box-shadow: 0 -6px 16px rgba(0, 0, 0, 0.1);
  margin-top: 0;
}
.dropdown-container.position-top.is-open .dropdown-trigger {
  border-radius: 0 0 var(--corner-radius) var(--corner-radius);
}
.dropdown-container.position-top.is-open .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-200);
  z-index: 98;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out;
}
.dropdown-backdrop.is-visible {
  opacity: 1;
  visibility: visible;
}

.dropdown-container.position-center .dropdown-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 220px;
  max-width: 90vw;
  border-radius: var(--corner-radius);
  border: 1px solid var(--color-gray-400);
  margin: 0;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}
.dropdown-container.position-center.is-open .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.dropdown-container.position-center.is-open .dropdown-trigger {
  border-radius: var(--corner-radius);
}
.dropdown-container.position-center.is-open .dropdown-trigger::after {
  transform: rotate(0deg);
}

.custom-input {
  padding: 6px 8px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  font-size: 14px;
  color: var(--color-text-primary);
  border-radius: var(--corner-radius);
  transition: border-color 0.25s ease-out, background-color 0.25s ease-out;
}
.custom-input.input-invalid {
  border-color: hsla(var(--color-red), 0.3) !important;
}
.custom-input::placeholder {
  color: var(--color-text-tertiary);
  font-size: 14px;
}
.custom-input:hover {
  border-color: var(--color-gray-400);
  background-color: var(--color-gray-200);
}
.custom-input:focus {
  outline: none;
  border-color: var(--color-gray-400);
  background-color: var(--color-bg);
}

:root {
  --corner-radius: 8px;
  --color-bg: hsl(0, 0%, 100%);
  --color-gray-100: hsl(0, 0%, 96%);
  --color-gray-200: hsl(0, 0%, 91%);
  --color-gray-300: hsl(0, 0%, 85%);
  --color-gray-400: hsl(0, 0%, 70%);
  --color-gray-500: hsl(0, 0%, 60%);
  --color-gray-600: hsl(0, 0%, 50%);
  --color-gray-700: hsl(0, 0%, 40%);
  --color-gray-800: hsl(0, 0%, 30%);
  --color-gray-900: hsl(0, 0%, 20%);
  --color-accent: #2563EB;
  --color-accent-light: #3B82F6;
  --color-accent-dark: #1D4ED8;
  --color-green: 140, 67%, 55%;
  --color-blue: 207, 67%, 55%;
  --color-purple: 281, 67%, 55%;
  --color-red: 0, 67%, 55%;
  --color-yellow: 59, 100%, 55%;
  --color-green-200: hsl(140, 55%, 85%);
  --color-green-300: hsl(140, 55%, 78%);
  --color-green-400: hsl(140, 55%, 65%);
  --color-green-500: hsl(140, 55%, 55%);
  --color-green-600: hsl(140, 55%, 45%);
  --color-text-primary: hsl(0, 0%, 10%); /* Почти чёрный */
  --color-text-secondary: hsl(0, 0%, 30%); /* Тёмно-серый */
  --color-text-tertiary: hsl(0, 0%, 50%); /* Средний серый */
  --color-text-quaternary: hsl(0, 0%, 70%); /* Светло-серый */
  --color-text-goldy: hsl(60, 100%, 30%);
  --color-text-green: hsl(118, 100%, 30%);
  --color-text-blue: hsl(211, 100%, 30%);
  --color-text-blue-light: hsl(211, 25%, 30%);
}

:root.dark {
  --color-bg: #000;
  --color-gray-900: hsl(240, 8%, 60%);
  --color-gray-800: hsl(240, 8%, 50%);
  --color-gray-700: hsl(240, 8%, 40%);
  --color-gray-600: hsl(240, 8%, 30%);
  --color-gray-500: hsl(240, 8%, 20%);
  --color-gray-400: hsl(240, 8%, 15%);
  --color-gray-300: hsl(240, 8%, 11%);
  --color-gray-200: hsl(240, 8%, 8%);
  --color-gray-100: hsl(240, 8%, 5%);
  --color-green-200: hsl(140, 55%, 8%);
  --color-green-300: hsl(140, 55%, 11%);
  --color-green-400: hsl(140, 55%, 15%);
  --color-green-500: hsl(140, 55%, 20%);
  --color-green-600: hsl(140, 55%, 30%);
  --color-accent: #1E65FF;
  --color-accent-light: #3B82F6;
  --color-accent-dark: #1D4ED8;
  --color-text-primary: hsl(0, 0%, 95%); /* Мягкий белый */
  --color-text-secondary: hsl(240, 5%, 80%); /* Светло-серый */
  --color-text-tertiary: hsl(240, 5%, 60%); /* Средний серый */
  --color-text-quaternary: hsl(240, 5%, 40%); /* Тёмно-серый */
  --color-text-goldy: hsl(60, 40%, 80%);
  --color-text-green: hsl(118, 40%, 80%);
  --color-text-blue: hsl(211, 40%, 80%);
  --color-text-blue-light: hsl(211, 25%, 80%);
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Tahoma, serif;
}

:root.them-switching * {
  transition: none !important;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 5px;
  flex-direction: row;
  background: var(--color-bg);
  padding: 10px;
}

.analyze-btn {
  font-size: 18px;
  padding: 4px 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text-primary);
  border-radius: var(--corner-radius);
  background: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.analyze-btn:hover {
  background: var(--color-gray-200);
  border: 1px solid var(--color-gray-400);
}

/*# sourceMappingURL=popup.css.map */
