#projects {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.main__page.calls {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;

  & .calls__header {
    height: 32px;
  }

  & .calls__wrapper {
    width: 100%;
    height: 100%;

    overflow: hidden;
  }

  & .calls__iframe {
    width: 100%;
    height: 100%;

    border: none;
  }
}

.sodal {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 100%;
  top: 0; left: 0;
  z-index: 2147483004;

  opacity: 0;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(15px) grayscale(.4);
  transition: opacity .3s ease-in-out;


  padding: 40px 20px;
  &__content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    gap: 10px;
  }

  &__main {
    flex: 1;

    display: flex;
    flex-direction: row;

    gap: 10px;
    width: 100%;
    height: 100%;
  }

  &__iframe {
    border: 1px solid var(--color-bg7);
    border-radius: var(--corner-radius);
    background-color: var(--color-bg2);

    width: 100%;
    height: 100%;
  }

  &__numbers {
    display: flex;
    flex-direction: column;

    gap: 10px;

    min-width: 300px;
  }

  & .numbers__header {
    margin-left: 2px;
    font-size: 20px;
    color: var(--color-font2);
  }

  &__webpage-numbers, &__project-numbers {
    flex: 1;
    display: flex;
    gap: 5px;
    flex-direction: column;

    border: 1px solid var(--color-bg7);
    border-radius: var(--corner-radius);
    background-color: var(--color-bg2);

    padding: 5px 3px 5px 5px;
    box-sizing: border-box;
    overflow: hidden;

    .project-numbers__list-wrapper, .webpage-numbers__list-wrapper {
      height: 100%;
      overflow-y: auto;

      padding-right: 3px;
    }

    .project-numbers__list, .webpage-numbers__list {
      gap: 5px;
      display: flex;
      flex-direction: column;

      box-sizing: border-box;

      height: 100%;
    }

    & .phone {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: 30px;
      border-radius: var(--corner-radius);

      background-color: var(--color-bg3);
      transition: background-color 0.25s ease-out;

      .phone__number {
        color: var(--color-font);
        font-size: 16px;

        text-indent: 8px;
      }

      .phone-btns {
        display: flex;
        flex-direction: row;

        height: 100%;

        overflow: hidden;
        border-radius: var(--corner-radius);
      }

      .phone-btns__btn {
        width: 36px;
        height: 100%;

        cursor: pointer;

        &:after {
          content: "";
          display: block;

          width: 100%;
          height: 100%;

          mask-size: 18px;
          mask-position: center;
          mask-repeat: no-repeat;
        }
      }

      .phone-btns__telegram {
        background-color: hsl(207, 14%, 16%);

        &:after {
          background-color: hsl(207, 14%, 45%);

          mask-image: url("../../../assets/img/Telegram.svg");
        }

        &:hover {
          background-color: hsl(207, 14%, 20%);
        }
      }

      .phone-btns__call {
        background-color: hsl(152, 14%, 16%);

        &:after {
          background-color: hsl(152, 14%, 45%);

          mask-image: url("../../../assets/img/Phone.svg");
        }

        &:hover {
          background-color: hsl(152, 14%, 20%);
        }
      }

      .phone-btns__add {
        background-color: hsl(0, 0%, 16%);

        &:after {
          background-color: hsl(0, 0%, 45%);

          mask-image: url("../../../assets/img/Plus.svg");
        }

        &:hover {
          background-color: hsl(0, 0%, 20%);
        }
      }

      &:hover {
        background-color: var(--color-bg4);
      }
    }
  }

  &__webpage-numbers {
    border: 1px solid var(--color-bg7);
    border-radius: var(--corner-radius);
    background-color: var(--color-bg2);

    flex: 1;
  }

  &__header {
    & .multi-switch {

    }
  }

  &__footer {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    gap: 10px;
  }

  &__fast-actions {
    border: 1px solid var(--color-bg7);
    border-radius: var(--corner-radius);
    background-color: var(--color-bg2);


    display: flex;
    flex-direction: row;

    width: 780px;
    height: 60px;
  }

  &__fast-action {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    color: var(--color-font);
    font-size: 24px;

    flex: 1 1 0;

    transition: background-color 0.25s ease-out;
  }
}

*::-webkit-scrollbar {
  border-radius: var(--corner-radius);
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track-piece {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: var(--corner-radius);
  background: var(--color-bg4);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-bg5);
}

*::-webkit-scrollbar-button {
  display: none;
}