@import "period-picker";

.datepicker {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  gap: 5px;
  padding: 8px;

  border-radius: var(--corner-radius);
  border: 1px solid var(--color-gray-500);
  background-color: var(--color-bg);

  &__months-wrapper, &__year-display {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;

    gap: 30px;
    height: 26px;
    padding: 0 8px;

    font-size: 14px;
    color: var(--color-text-secondary);

    border-radius: var(--corner-radius);
    transition: background-color .2s ease-out, color .2s ease-out;

    &:hover {
      color: var(--color-text-primary);
      background-color: var(--color-gray-200);
    }
  }

  *:focus, &:focus {
    outline: none;
  }
}

//#region Navigation
.datepicker__nav-btn {
  cursor: pointer;

  width: 26px;
  height: 26px;

  background: none;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: var(--corner-radius);
  transition: background-color .2s ease-out, border-color .2s ease-out, transform .2s ease-out;

  &:active {
    transform: scale(0.9);
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    mask-size: 8px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url("../assets/img/Arrow.svg");
    background-color: var(--color-gray-800);
    transition: background-color 0.2s ease-out;
  }

  &--next::after {
    transform: scale(-1, -1);
  }

  &:hover {
    background-color: var(--color-gray-200);
    border-color: var(--color-gray-300);

    &::after {
      background-color: var(--color-gray-900);
    }
  }

  &.disabled {
    visibility: hidden;
  }
}

.datepicker-header, .datepicker__month-selection-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  user-select: none;
}
//#endregion

//#region Calendar
.datepicker__calendars {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.datepicker__calendar {
  display: grid;
  grid-template-columns: repeat(7, 32px);
  grid-template-rows: 22px repeat(6, 32px);
}

.datepicker__cell {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--color-text-primary);

  &--weekday {
    height: 22px;
    color: var(--color-text-secondary);
  }

  &.datepicker__day--prev,
  &.datepicker__day--next {
    color: var(--color-text-quaternary);
  }
}

.datepicker__month-item--current, .datepicker__day.today {
  color: var(--color-text-green) !important;
  font-weight: 500;
}

.datepicker__day {
  position: relative;
  z-index: 2;
  cursor: pointer;

  &.range-start,
  &.in-range,
  &.range-end,
  &.range-end-selecting,
  &.range-start-selecting {
    color: var(--color-text-primary);
    font-weight: 500;

    &::before {
      content: '';
      display: block;
      position: absolute;

      z-index: -2;
      width: 100%;
      height: 26px;
      background-color: var(--color-gray-100);
    }
  }

  &.range-start::after, &.range-end::after, &.selected::after, &.range-middle::after {
    background: var(--color-gray-300) !important;

    box-shadow: 0 0 5px 0 var(--color-bg);
  }

  &.range-end-selecting::before,
  &.range-end::before {
    margin-right: 4px;
    border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
  }

  &.range-start-selecting::before,
  &.range-start::before {
    margin-left: 4px;
    border-radius: var(--corner-radius) 0 0 var(--corner-radius);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: var(--corner-radius);
    z-index: -1;
    background: transparent;
  }

  &:hover::after {
    background: var(--color-gray-200);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-text-quaternary);

    &::after {
      display: none;
    }
  }
}

//endregion

//#region Month Selection
.datepicker__month-selection {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  background-color: var(--color-bg);
}

.datepicker__month-list {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(2, 105px);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
}

.datepicker__month-item {
  cursor: pointer;
  font-size: 14px;
  color: var(--color-text-secondary);
  list-style-type: none;
  padding: 4px 8px;
  box-sizing: border-box;

  border-radius: var(--corner-radius);

  &:hover {
    color: var(--color-text-primary);
    background-color: var(--color-gray-200);
  }

  &.disabled {
    pointer-events: none;

    color: var(--color-text-quaternary);
    cursor: default;
  }
}

.datepicker__month-selection-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .datepicker__year-display {
    left: 50%;
    transform: translateX(-50%);
    cursor: default;

    &:hover {
      color: var(--color-text-secondary);
      background-color: transparent;
    }
  }
}

//#endregion